<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\Base.dll" value="12-Aug-22" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\VerifyConnection.dll" value="01-Sep-22" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\CommonLoginComponents.dll" value="12-Oct-22" />
  </appSettings>
</configuration>