<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="clientConfiguration" type="System.Configuration.NameValueSectionHandler" />
    <section name="serverConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <clientConfiguration>
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\Philips.PmsMR.MRClinicalApps.fMRI.UI.dll" value="27-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\FilmViewUtilities.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\BrainPerfusionApp.exe" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\CVALib.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\Base.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\UsersDBMigrationCore.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\ApplicationForm.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\PortalHeader.Views.dll" value="27-JUN-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\ExternalApplicationLauncher.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\Claron.Orchestrator.Services.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\ValidationFeedback.exe" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\StudySelector.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\PortalServer.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\ca\Workflow.xml" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\da\Workflow.xml" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\de\Workflow.xml" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\en\Workflow.xml" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\es\Workflow.xml" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\fr\Workflow.xml" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\nl\Workflow.xml" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\ru\Workflow.xml" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\sv\Workflow.xml" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\Workflow.xml" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\System\Workflow\Workflow.cfg" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\PreferencesLicensing.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\RemoteManagementAdministraionControl.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\RemoteManagementCommon.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\ApplicationComponents.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\ApplicationTools.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\Philips.PmsMR.MultiVendor.BusinessLogic.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\ThickAppletHost.exe" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\ImageProcessing3D.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\CVALib.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\CardiacViewer.exe" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\PortalServer.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\SlavePortalServer.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\ApplicationFramework.dll" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\CCA.exe" value="06-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\System\Vishleshan-Astra.exe" value="04-AUG-23" />
    <add key="C:\Program Files (x86)\Philips IntelliSpace Portal\Config\ConfigDirectory.xml" value="04-AUG-23" />
  </clientConfiguration>
  <serverConfiguration>
    <add key="C:\PortalPms\system\Philips.PmsMR.MRClinicalApps.fMRI.UI.dll" value="27-JUN-23" />
    <add key="C:\PortalPms\system\WebSocketServer.dll" value="27-JUN-23" />
    <add key="C:\PortalPms\GfnStore\Broker\WebSocketServer.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\GfnStore\GfnWebsite\bin\WebSocketServer.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\FilmViewUtilities.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\BrainPerfusionApp.exe" value="04-AUG-23" />
    <add key="C:\PortalPms\system\CVALib.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\Base.dll" value="10-JUL-23" />
    <add key="C:\Pms\System\BackUpRestore\System\CfgUtil\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\Backup\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\CentralizedConfigurationTool\CCTAPI\bin\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\CentralizedConfigurationTool\CCTWeb\bin\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\CentralizedConfigurationTool\UtilityService\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\ClinicalLabelService\Config\ValidationTool\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\ConfigurationServiceWebApi\bin\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\DicomUsageLogService\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\Manual\bin\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\PortalHealthMonitor\bin\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\PortalManagementTool\bin\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\ServiceTools\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\Support\BIGLogCollector\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\BugRep\Base.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\CDBManager.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\UsersDBMigrationCore.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\ApplicationForm.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\PortalHeader.Views.dll" value="27-JUN-23" />
    <add key="C:\PortalPms\system\ExternalApplicationLauncher.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\Claron.Orchestrator.Services.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\ValidationFeedback.exe" value="04-AUG-23" />
    <add key="C:\PortalPms\system\StudySelector.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\PortalCommon.dll" value="10-JUL-23" />
    <add key="C:\PortalPms\CentralizedConfigurationTool\CCTAPI\bin\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\CentralizedConfigurationTool\UtilityService\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\ConfigurationServiceWebApi\bin\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\GfnStore\Broker\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\PortalHealthMonitor\bin\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\ServiceTools\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\support\SetOrchestratorSyncMaxFileSize.ps1" value="04-AUG-23" />
    <add key="C:\PortalPms\support\SetOrchestratorSyncMaxFileSizeConfig.sql" value="04-AUG-23" />
    <add key="C:\PortalPms\system\PortalServer.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\WebCBT.cfg" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\ca\Workflow.xml" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\da\Workflow.xml" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\de\Workflow.xml" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\en\Workflow.xml" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\es\Workflow.xml" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\fr\Workflow.xml" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\nl\Workflow.xml" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\ru\Workflow.xml" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\sv\Workflow.xml" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\Workflow.xml" value="04-AUG-23" />
    <add key="C:\PortalPms\config\System\Workflow\Workflow.cfg" value="04-AUG-23" />
    <add key="C:\PortalPms\system\PreferencesLicensing.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\CentralizedConfigurationTool\CCTAPI\bin\PreferencesLicensing.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\backup_netforum\RemoteManagementCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\RemoteManagementCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\PortalManagementTool\bin\RemoteManagementCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\CentralizedConfigurationTool\CCTAPI\bin\RemoteManagementCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\RemoteManagementAdministrationControl.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\backup_netforum\RemoteManagementAdministrationControl.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\CentralizedConfigurationTool\CCTAPI\bin\VersionValidatorBLL.dll" value="27-JUN-23" />
    <add key="C:\PortalPms\system\ApplicationTools.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\GfnApps\LoBI\Dlls\Philips.PmsApps.LoBI.Server.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\GfnApps\LAInfra\Dlls\Philips.PmsApps.LAInfra.Algorithms.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\Philips.PmsMR.MultiVendor.MosaicSplitter.dll" value="27-JUN-23" />
    <add key="C:\PortalPms\system\Philips.PmsMR.MultiVendor.BusinessLogic.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\ThickAppletHost.exe" value="04-AUG-23" />
    <add key="C:\PortalPms\system\ImageProcessing3D.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\CVALib.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\CardiacViewer.exe" value="04-AUG-23" />
    <add key="C:\PortalPms\system\PortalServer.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\SlavePortalServer.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\PortalCommon.dll" value="10-JUL-23" />
    <add key="C:\PortalPms\CentralizedConfigurationTool\CCTAPI\bin\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\CentralizedConfigurationTool\UtilityService\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\ConfigurationServiceWebApi\bin\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\GfnStore\Broker\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\PortalHealthMonitor\bin\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\ServiceTools\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\BugRep\PortalCommon.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\system\ApplicationFramework.dll" value="04-AUG-23" />
    <add key="C:\PortalPms\Support\ResetServiceUserPassword.sql" value="04-AUG-23" />
    <add key="C:\PortalPms\PortalManagementTool\Views\Group\NewGroup.cshtml" value="19-JUL-23" />
    <add key="C:\PortalPms\system\CCA.exe" value="04-AUG-23" />
    <add key="C:\PortalPms\Support\Vishleshan-Astra.exe" value="06-AUG-23" />
    <add key="C:\PortalPms\Manual\styles\wsapp_about.css" value="04-AUG-23" />
    <add key="C:\PortalPms\config\ConfigDirectory.xml" value="04-AUG-23" />
  </serverConfiguration>
</configuration>